@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global base */
body {
  @apply bg-zinc-950 text-zinc-50 antialiased;
}

/* Scrollbar escura (opcional, fica bonito) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
